@use "../functions" as *;
@use "../variables" as *;
@use "../mixins" as *;


.section_reservation {
  .block--content {
    .content {
      .container {
        .title {
          color: $color-purple-dark;
        }
        .video {
          img {
            max-height: 400px;
            box-shadow: 0px 10px 20px rgba(0,11,48,0.25);
            border-radius: 30px;
          }
        }
        p {
          font-size: 15px;
          font-weight: 300;
        }
      }
    }
  }
}

@include tablet-down {
  .section_reservation {
    .block--content {
      .content {
        flex-direction: column;
        gap: 20px;
        .container {
          width: 100%;
        }
      }
    }
  }
}