@use "functions" as *;
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: fluid($size-base, $size-desc);
  font-weight: 600;
  line-height: 1.55;
}

a {
  text-decoration: none;
  color: $color-black;
  font-size: $size-mini;
}

span {
  // font-size: 20px;
  font-weight: 700;
}
.block {
  padding-block: fluid(20, 0);
  padding-inline: fluid-to-laptop(300, 0);
}
.block--content {
  padding-block: fluid(100, 0);
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  // padding-inline: fluid(300, 0);
}

.title {
  font-size: fluid-to-laptop($size-main, $size-base);
  text-transform: uppercase;
}

button {
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 8px;

  &.button--purple {
    color: $color-white;
    background-color: $color-purple-light;
    border: none;
  }
  &.button--white {
    background-color: $color-white;
  }
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .container {
    display: flex;
    width: 50%;
    flex-direction: column;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  font-size: $size-desc;

  input, select {
    background: none;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    font-size: $size-desc;
    padding: 20px 0px;
  }
  label {
    font-weight: 300;
    text-align: left;
  }
  button {
    width: auto;
    text-align: center;
    align-self: center;
    font-weight: 600;
    border-radius: 15px;
    color: $color-white;
    background-color: $color-purple-light;
    border: none;
    padding: 15px 30px;
  }
}