@use "functions" as *;
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: fluid($size-base, $size-desc);
  font-weight: 600;
  line-height: 1.55;
}

a {
  text-decoration: none;
  color: $color-black;
  font-size: $size-mini;
}

span {
  // font-size: 20px;
  font-weight: 700;
}
.block {
  padding-block: fluid(20, 0);
  padding-inline: fluid-to-laptop(300, 0);
}
.block--content {
  padding-block: fluid(100, 0);
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  // padding-inline: fluid(300, 0);
}

.title {
  font-size: fluid-to-laptop($size-main, $size-base);
  text-transform: uppercase;
}