// Color
$color-white: #FFFFFF;
$color-black: #000000;

$color-purple-dark: rgb(115, 93, 154);
$color-purple-light: rgb(175, 155, 206);
$color-purple-light1: rgb(172, 138, 231);
$color-purple-light2: #f3ebff;

$color-orange: rgb(255, 133, 98);
$color-yellow: rgb(255, 168, 0);

// Size
$size-main:           33px;
$size-title:          38px;
$size-title-little:   28px;
$size-mini:           14px;
$size-base:           24px;
$size-little:         22px;
$size-desc:           18px;
$size-title-in-block: 20px;